.container{
    background-image: url(../images/bg_dubaobao_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    position: absolute;
    left: 570px;
    top: 100px;
    width: 770px;
    height: 890px;
}
.pop_tips{
    position:absolute;
    width: inherit;
}
.pop_title{
    position: absolute;
    top: -38px;
    left: -16px;
    padding: 0 20px 0 16px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    background-color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    animation: pop-title-animate 3s ease-out;
    animation-fill-mode: forwards;
    background-color: #263459;
}
.pop_title:before {
    display: block;
    content: ' ';
    height: 0;
    left: 16px;
    position: absolute;
    width: 0;
    border-left: 12px solid #263459;
    border-bottom: 10px solid transparent;
    z-index: 1;
    top: 30px;
}
.pop_title:after {
    display: block;
    content: ' ';
    height: 0;
    left: 16px;
    position: absolute;
    width: 0;
    border-right: 1px solid #263459;
    border-top: 10px solid #263459;
    z-index: 2;
    border-radius: 0 0 100% 0;
    top: 30px;
}
.pop_name{
    float: left;
    line-height: 30px;
    border-radius: 2px;
}
.pop_val{
    float: left;
    margin-left: 10px;
    line-height: 30px;
    font-size: 22px;
    font-family: impact;
    border-radius: 2px;
}
.pop_title i{
    display: inline;
    font-size: 22px;
}
.pop{
    display: block;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-backface-visibility: hidden;
    animation: pop-animate 5s ease-out;
    animation-fill-mode: forwards;
}
i{
    font-style: normal;
}
.min_pop{
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
}
.middle_pop{
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
}
.max_pop{
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
}

@keyframes pop-title-animate {
    0% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    50% {
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1;
    }

    100% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
}

@-webkit-keyframes pop-title-animate {
    0% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    50% {
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1;
    }

    100% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
}
@-moz-keyframes pop-title-animate {
    0% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    50% {
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1;
    }

    100% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
}

@keyframes pop-animate {
    0% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    50% {
        filter:alpha(opacity=60);
        -moz-opacity:0.6;
        -khtml-opacity:0.6;
        opacity:0.6;
    }

    100% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
}

@-webkit-keyframes pop-animate {
    0% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    50% {
        filter:alpha(opacity=60);
        -moz-opacity:0.6;
        -khtml-opacity:0.6;
        opacity:0.6;
    }

    100% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
}
@-moz-keyframes pop-animate {
    0% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    50% {
        filter:alpha(opacity=60);
        -moz-opacity:0.6;
        -khtml-opacity:0.6;
        opacity:0.6;
    }

    100% {
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
}


/*左上角*/
.left_corner {
    position: absolute;
    left: 50px;
    top: 50px;
    color: #333;
    padding-left: 118px; 
}
.left_corner img {
    display: block;
    width: 110px;
    height: 110px;
    background: url('./../images/logo_circle_white_img.png');
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 8px;
}
.page_title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 14px;
}
.left_corner time {
    display: block;
    font-size: 20px;
}
.left_corner p.dt {
    font-size: 16px;
}


/*右上角*/
.right_top_box {
    position: absolute;
    right: 50px;
    top: 50px;
    min-width: 500px;
    height: 240px;
    line-height: 78px;
    color: #37c5f0;
    border: 2px solid rgba(3,3, 3, .4);
}
.right_top_box p {
    margin-left: 20px;
    width: 380px;
    padding: 20px 0;
    overflow: hidden;
    color: #333;
    float: left;
    border-bottom: 2px solid rgba(3,3, 3, .4);
}
.right_top_box p:last-child {
    border-bottom: none;
}
.right_top_box img {
    float: left;
    width: 40px;
    height: 40px;
    color: #333;
    margin: 24px 0 0 30px;
    clear: both;
}
.right_top_box img:last-child {
    margin: 0 0 0 40px;
}
.right_top_box .downBorder {
    display: block;
    width: 100px;
    height: 2px;
}
.right_top_box span {
    float: left;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}
.right_top_box .big {
    margin-left: 10px;
    line-height: 40px;
    font-family: impact;
}
.right_top_box .big i{
    font-size: 30px;
    width: inherit;
    margin-right: 4px;
}
.right_top_box .big div{
    padding-right: 4px;
}


/*右下角*/
.left_bottom_box{
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.area_little{
    width: 500px;
    height: 460px;
    border: 2px solid rgba(51, 51, 51,.4);
    margin-bottom: 30px;
}
.area_little h3{
    line-height: 78px;
    text-align: center;
    font-size: 18px;
    color: #333333;
}
.area_main{
    width: 350px;
    height: 350px;
    margin: 0 auto;
}
.area_main img{
    width: 100%;
}
.time-chart {
    width: 500px;
    height: 274px;
    border: 2px solid rgba(51, 51, 51,.4);
}


/*右下角盒子*/
.right_bottom_box{
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.hos_top_5{
    width: 500px;
    height: 680px;
    border: 2px solid rgba(51, 51, 51,.4);
}

/*图例*/
.legend_box{
    position: absolute;
    left: 560px;
    bottom: 70px;
}
.legend_box .line{
    overflow: hidden;
}
.legend_box .pop{
    float: left;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    -webkit-animation:inherit;
    animation-fill-mode: forwards;
    opacity: 1;
}
.legend_box span{
    display: inline-block;
    margin-right: 8px;
    line-height: 20px;
    font-size: 12px;
}
.legend_3{
    color: #333;
}
.legend_3 .pop{
    background-color: rgba(255, 136, 136, .6);
}
.legend_2{
    color: #333;
}
.legend_2 .pop{
    background-color: rgba(55, 197, 240, .6);
}
.legend_s{
    color: #333;
}
.legend_s .pop{
    background-color: rgba(204, 161, 255, .6);
}

/*全国地图*/
.nation_page .main{
    width: 1150px;
    height: 970px;
    left: 170px;
    top:20px;
}
.nation_page .area_little {
    display: none;
}
.nation_page .line{
    display: inline-block;
    margin-left: 30px;
}
.nation_page .line .pop{
    margin-right: 10px;
}
.nation_page .line span{
    line-height: 30px;
    color: #d8aeff;
}
.nation_page .legend_3 .pop{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}
.nation_page .legend_2 .pop{
    width: 20px;
    height: 20px;
    background-color: #d8aeff;
}
.nation_page .legend_s .pop{
    width: 10px;
    height: 10px;
    margin-top: 10px;
    background-color: #d8aeff;
}
.nation_page .hos_top_10{
    display: none;
}
.nation_page .pop_title{
    display: none;
}


/*市*/
.city_page .city_top_5{
    display: none;
}
.city_page .hos_top_5{
    display: none;
}
.city_page .area_main img{
    display: none;
}
.city_page .main {
    position: absolute;
    left: 555px;
    top: 70px;
    width: 800px;
    height: 920px;
}



